---
title: Recent landings
styles: [style.css]
scripts: []
layout: default
---

<h1>Recently landed pull requests</h1>

<table>
  <thead>
    <tr>
      <td class="pr-number">#</td>
      <td class="pr-title">Title</td>
      <td class="pr-time">Landing time (UTC)</td>
      <td class="pr-hash">Merge</td>
      <td class="pr-graphs">Graphs</td>
    </tr>
  </thead>
  <tbody>
{{DATA_HERE}}
  </tbody>
</table>
