table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  border-bottom: 1px solid gray;
  text-align: center;
}

td {
  padding: 0.05em 0.3em;
  white-space: nowrap;
}

.pr-title {
  width: 100%;
}
tbody .pr-title {
  font-style: italic;
}
thead .pr-title {
  text-align: left;
}

.pr-time {
  text-align: center;
}

tbody .pr-hash {
  font-family: monospace;
}

.pr:nth-child(even) {
  background: #eeeeee;
}
